<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detune</title>
    <link rel="shortcut icon" type="image/png" href="https://icons8.com/glyph-neue/64/rock-music.png>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-[#36393e] flex flex-col justify-center h-screen">

<div class=" flex flex-col items-center text-center h-screen justify-center">
    <h1 class="text-5xl mb-4 font-medium text-white">Detune</h1>
    <form class="text-white bg-[#474b52] p-4 rounded-md" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="bg-[#50C878] rounded mt-4 w-[100%]" type="submit">Convert</button>
    </form>
</div>  
</body>
</html>
